body {
  position: relative;
}

.container {
  min-height: calc(100vh - 62px - 56px); 
}

.readmore{
  text-align: center !important;  
}

.post-holder{
  background-color: #f8f9fa !important;
  padding-inline: 30px;
}

.body-holder{
  background-color: white !important;
  padding-inline: 30px;
}

.left-holder{
  background-color: #28a74517 !important;
  padding: 30px;
  padding-inline: 0;
}

.left-holder-item{
  text-align: center;
  padding: 5px;
  background-color: #28a74573 !important;
}

.left-holder-item:hover{
  background-color: #ffa74573 !important;
}

.bg-light {
  background-color: #28a74573 !important;
}

small{
  font-family: system-ui;
  font-weight: 300;
  font-size: small;
}

.navbar img {
  width: 72px; /* Adjusting size to be more noticeable */
  height: 72px; /* Keeping the aspect ratio the same */
  margin: 15px; /* Ensuring some space between the image and the brand name */
  border: 3px solid #363a3f; /* Adding a white border */
  border-radius: 50%; /* Ensuring the image remains circular */
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-right: 30px;
  margin-right: 30px;
  font-size: x-large;
  font-weight: bold;
}

.footer {
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensures footer is always at the bottom */
}

@media (min-width: 992px) {
  .navbar-brand {
    margin-right: auto; /* Adjusts for spacing around the name and picture */
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    border-right: none; /* Removes border on smaller screens for a cleaner look */
    padding-right: 0;
    margin-right: 0;
  }
  .navbar-brand img {
    width: 50px; /* Adjusts image size back for smaller devices */
    height: 50px; /* Adjusts image size back for smaller devices */
  }
}

.card {
  transition: transform .2s; /* Animation for card movement */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge cards on hover */
}